body {
    margin: 0;
    background-color: #e5d9d9;
    position: relative;
}

#canvas {
    margin-right: 20px;
}

#textbox {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 200px;
    left: 600px;
}
